/* 1 General setting */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    font-family: 'Roboto', sans-serif;
    text-align: justify; /* For Edge */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    font-weight: 700;
    transition: all 0.15s ease-in-out;
}

a:active,
a:link,
a:visited {
    color: rgb(50,50,50);
}

a:visited {
    color: rgb(50,50,50);
}

body {
    position: relative;
    width: 70%;
    margin: 0 auto;
    color: rgb(50,50,50);
    margin-bottom: 50px;
    margin-top: 50px;
}

p, li, a, span {
    font-size: 18px;
}

/* 2 Header settings */

header {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 40%;
    display: inline-flex;
    align-items: center;
}

nav ul {
    height: 50%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    
}

nav a {
    text-decoration: none;
    font-weight: 400;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav li {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    min-width: 25%;
    white-space: nowrap;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgba(83, 83, 83, 0.68);
    color: white;
    cursor: pointer;
}

article {
    padding-top: 30px;
}

/* 3 About settings */

#about-me {
    display: flex;
    justify-content: space-between;
}

.about-description {
    width: 55%;
    /* border: 1px solid green; */
}

.me-photo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}

.me-photo img {
    margin-top: 20px;
    max-width: 60%;
    border-radius: 20px;
}

/* 4 Projects section settings */

.project-heading-btn {
    max-width: fit-content;
    user-select: none;
    cursor: pointer;
}


.project-heading-btn h3 {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
    margin: 0;
    margin-bottom: 10px;
}

.project-heading-btn h3::before {
    left: 0;
    top: 0;
    content: '⚪';
    font-size: 0.7rem;
    margin-right: 10px;
}

.project-heading-btn h3:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(100, 100, 100, 0.75);
    filter: drop-shadow(0 0 2px rgb(121, 121, 121));
}

/* Project data section */

.project-data {
    max-height: 0;
    overflow: hidden;
    will-change: transform;
    transition: all 0.1s ease-in-out;
}

.project-data.opened {
    max-height: 1200px;
    margin-bottom: 20px;
}

/* Authors subsection */

.project-authors {
    width: 30%;
}

.author {
    min-width: 180px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.author a {
    height: fit-content;
    width: 40px;
}

.author a:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 2px black);
}

.author img {
    width: 100%;
    height: 100%;
}

/* Project description settings */

a.link-to-project {
    position: relative;
    margin: 50px auto;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid black;
    width: 30%;
    min-width: fit-content;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    padding: 10px;
}

a.link-to-project:hover {
    color: white;
    background-color: rgba(86, 86, 86, 0.8);
    transform: scale(1.03);
}

a.link-to-project:active {
    transform: scale(0.95);
}

.carousel-container {
    overflow: hidden;
    width: 60%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.carousel-slides {
    display: inline-flex;
    width: 100%;
    transition: transform 0.3s ease;
}

.carousel-slide {
    width: 100%;
    object-fit: cover;
    
}

.carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-btn-left,
.carousel-btn-right {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel-btn-left:hover,
.carousel-btn-right:hover {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.carousel-btn-left:hover .fa-chevron-left, 
.carousel-btn-right:hover .fa-chevron-right {
    color: rgb(255, 255, 255);
}
.fa-chevron-left,
.fa-chevron-right {
    color: rgb(40, 40, 40);
    font-size: 3rem; 
    transition: all 0.3s ease-in-out;
}


/* Setting for skills section */ 
.skills-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.skills-images {
    display: inline-flex;
    justify-content: center;
    gap: 5%;
}

.skills-images img {
    flex-shrink: 1;
    width: 10%;
    height: auto;
    object-fit: contain;
}

/* Footer settings */

.contacts {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 10%;
}

.contacts a {
    display: block;
    width: 5%;
}

.contacts img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.credidentials >* {
    width: fit-content;
    font-size: 14px;
    margin: 40px auto;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    body {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    header {
        flex-wrap: wrap;
    }

    header h1 {
        width: 100%;
    }
    nav {
        width: 100%;
        justify-content: center;
    }

    nav ul {
        width: 70%;
    }

    #about-me {
        flex-wrap: wrap;
        padding-top: 0;
        justify-content: center;
    }

    .about-description {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .me-photo {
        width: 50%;
    }

    .me-photo img {
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    p, li, a, span {
        font-size: 16px;
    }
    
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.125rem;
    }

    h3 {
        font-size: 1rem;
    }

    nav ul {
        width: 90%;
    }

    a.link-to-project {
        width: 20%;
        font-size: 1rem;
    }


    .carousel-container {
        width: 80%;
    }

    .skills-images img {
        width: 15%;
    }

    .contacts a {
        width: 10%;
    }
}

@media screen and (max-width: 468px) {
    nav ul {
        width: 100%;
    }

    .me-photo {
        width: 60%;
    }

    .me-photo img {
        max-width: 80%;
    }

    .carousel-container {
        width: 100%;
    }
}